@font-face {
    font-family: 'Avenir Next';
    font-weight: 400;
    src: local('Avenir Next'), url(../fonts/AvenirNextLTPro-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-style: italic;
    src: local('Avenir Next'), url(../fonts/AvenirNextLTPro-It.otf) format('opentype');
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: 500;
    src: local('Avenir Next'), url(../fonts/AvenirNextLTPro-Demi.otf) format('opentype');
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: 500;
    font-style: italic;
    src: local('Avenir Next'), url(../fonts/AvenirNextLTPro-DemiIt.otf) format('opentype');
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: 700;
    src: local('Avenir Next'), url(../fonts/AvenirNextLTPro-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    src: local('JetBrains Mono'), url(../fonts/JetBrainsMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: italic;
    src: local('JetBrains Mono'), url(../fonts/JetBrainsMono-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    src: local('JetBrains Mono'), url(../fonts/JetBrainsMono-Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-style: italic;
    src: local('JetBrains Mono'), url(../fonts/JetBrainsMono-Medium-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 700;
    src: local('JetBrains Mono'), url(../fonts/JetBrainsMono-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-style: italic;
    src: local('JetBrains Mono'), url(../fonts/JetBrainsMono-Bold-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 900;
    src: local('JetBrains Mono'), url(../fonts/JetBrainsMono-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 900;
    font-style: italic;
    src: local('JetBrains Mono'), url(../fonts/JetBrainsMono-ExtraBold-Italic.ttf) format("truetype");
}

body {
    font-family: 'Avenir Next', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Next", sans-serif;
    font-weight: 700;
}

.navbar {
    /*border-bottom: 1px solid #ddd;*/
    height: 100px;
}

.navbar-shadow {
    box-shadow: 3px 3px 5px #dddddd85;
}

.nav-item {
    padding-top: 4px;
}

.navbar-toggler {
    border: none;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.code-text {
    font-family: 'JetBrains Mono', monospace;
}

nav ul li a {
    font-size: 13px;
    letter-spacing: 0.075em;
}

.icon-circle {
    padding: 25px;
    color: white;
    border-radius: 50px;
    transition: transform 0.5s ease-in-out;
    transform: initial;
}

.icon-circle:hover {
    transition: transform 0.5s ease-in-out;
    transform: translateY(5px);
}

.icon-circle svg {
    width: 25px;
    height: 25px;
}

.icon-wrapper {
    display: block;
    margin: 0 auto;
}

.bg-light {
    background: #f8f9fc;
}

.button-company {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 2px 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #199ff2;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    border: transparent;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .25s ease;
    text-shadow: 0 1px 3px #0d5f92;
}

.button-company:hover {
    transition: all .25s ease;
    background-color: rgb(25, 159, 242);
    box-shadow: rgba(25, 159, 242, 0.75) 0 9px 20px -5px;
    border-color: rgba(25, 159, 242, 0.75);
}


.button-investor {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 2px 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #3ecf8e;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    border: transparent;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .25s ease;
    text-shadow: 0 1px 3px rgb(36, 180, 126);
}

.button-investor:hover {
    transition: all .25s ease;
    background-color: rgb(62, 207, 142);
    box-shadow: rgba(62, 207, 142, 0.75) 0px 9px 20px -5px;
    border-color: rgb(62, 207, 142);
}

.button-resource {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 2px 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #e83e8c;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    border: transparent;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .25s ease;
    text-shadow: 0 1px 3px #9f245b;
}

.button-resource:hover {
    transition: all .25s ease;
    background-color: rgb(232, 62, 140);
    box-shadow: rgba(232, 62, 140, 0.75) 0px 9px 20px -5px;
    border-color: rgb(232, 62, 140);
}

.card {
    box-shadow: 1px 1px 20px #33333333;
    transition: box-shadow 0.5s;
    border-radius: 4px;
    min-width: 255px;
    /*height: 330px;*/
    background: #fff;
}
.card-title {
    font-family: "JetBrains Mono", "Avenir Next", monospace;
    font-size: 14px;
}
.card-subtitle {
    font-size: 12px;
    text-align: center;
}

.card-body {
    font-size: 12px;
}

.card-body p {
    margin-bottom: 0;
}

.card-body strong {
    font-size: 10px;
}


.card-details {
    background: #f8f9fc;
    border-top: 1px solid #ddd;
    overflow: auto;
}

.card-details-display {
    opacity: 1;
    position: initial;
    z-index: initial;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
}

.card-details-hide {
    opacity: 0;
    position: fixed;
    z-index: -1;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
}


.form-control {
    height: 50px;
    border-radius: 8px;
}

.input-group .btn {
    height: 50px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.search-bar {
    border-radius: 4px !important;
    background: #ffffffbd;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    border: 1px solid #fff;
    box-shadow: 4px 4px 15px #33333391;
}

.search-bar .btn {
    background: #3ecf8e;
}

#hero-search-btn {
    position: absolute !important;
    right: 5px;
}

#hero-search-btn .btn {
    color: #767676;
}

#hero-search-btn svg {
    stroke-width: 3px;
}

.form-control:focus {
    border-color: #ddd;
}

.tag-container {
    padding: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 300;
    color: #555;
    text-transform: uppercase;
}

.tag {
    font-weight: 500;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    /*box-shadow: 1px 1px 4px #b3b3b3;*/
}

.tag:hover {
    transition: opacity 0.5s ease-in-out;
    opacity: 1.0;
}

.text-mono {
    font-family: "JetBrains Mono", monospace !important;
}

.text-alt {
    font-family: "Avenir Next", sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 400;
    font-size: 12px;
}
